.login {
  margin-top: 40px;
  width: 408px;
  height: auto;
  :global {
    // .ant-tabs .ant-tabs-bar {
    //   border-bottom: 0;
    //   margin-bottom: 24px;
    //   text-align: center;
    // }
  
    .ant-form-item {
      padding: 8px 0;
    }
  }
}

.content {
  width: 500px;
}

.forgot {
  width: 100%;
  display: inline-block;
  color: #1890ff;
  transition: .3s;
  text-align: right;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
}

.loginBtn {
  margin-top: 40px;
  width: 100%;
}