.container {
  width: 365px;
}

.resetContainer {
  width: 800px;
}

.captcha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .captchaImage {
    flex-shrink: 0;
    margin-left: 10px;
    width: 102px;
    height: 38px;
  }
}

.forgot {
  width: 100%;
  display: inline-block;
  color: #1890ff;
  transition: .3s;
  text-align: right;
  cursor: pointer;
  &:hover {
    opacity: .9;
  }
}


.loginBtn {
  margin-top: 20px;
  width: 100%;
}

.browserPrompt {
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  .browserItem {
    text-align: center;
    margin-top: 10px;
  }
  
  .btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
