.pageHeader {
  padding: 16px 32px 0;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  margin: 0 0 0 -8px;
}

.breadcrumb {
  margin-bottom: 16px;
}

.row {
  // display: flex;
  width: 100%;
}

.detail {
  display: flex;
}

.title {
  font-size: 20px;
}

.content {
  margin-bottom: 20px;
}

.back {
  color: #1890FF;
  cursor: pointer;
}