.modal-container {
  .sub-title {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 22px;
    margin-top: 6px;
  }
  .account-info {
    margin-top: 18px;
    border-radius: 2px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 558px;
    height: 118px;
    .account-info-item {
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      line-height: 22px;
    }
    .account-info-desc {
      color: #FF4949;
    }
  }
}