@import '@/styles/flexible.scss';

.main {
  margin: 24px 24px 0;
}

.title {
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="start center"];
  .titleDesc {
    font-size: 24px;
  }
  .subTitleDesc {
    color: #999;
    font-size: 16px;
    margin-left: 10px;
    .gardenCount {
      font-style: normal;
      color: #409EFF;
      font-size: 20px;
      padding: 0 10px;
    }
  }
}

.list {
  flex-wrap: wrap;
  @extend [layout];
  @extend [layout=row];
  @extend [layout-align="start center"];
  li {
    width: 20%;
    padding:  10px;
  }
}